<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Dashboard</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/staff">User</a>
                        </li>
                        <li class="breadcrumb-item active">{{ isEditable ? "Edit" : "Add New" }} User</li>
                    </ol>

                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ isEditable ? "Edit" : "Add New" }} User</h4>

                        <div [ngBusy]="busy"></div>
                        <form #mainForm="ngForm" id="staff-form" novalidate class="form-control-line m-t-40">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name * </label>
                                        <input type="text" class="form-control form-control-line " [(ngModel)]="item.name" pattern="[a-zA-Z][a-zA-Z ]+" name="firstName"
                                            #firstNameVl="ngModel" required minlength="3" maxlength="100"> </div>

                                    <div *ngIf="firstNameVl.invalid && (firstNameVl.dirty || firstNameVl.touched)" class="text-danger">
                                        <p *ngIf="firstNameVl.errors.required">First Name is required.</p>
                                        <p *ngIf="firstNameVl.errors.minlength">Minimum of 3 characters</p>
                                        <p *ngIf="firstNameVl.errors.maxlength">Maximum of 70 characters</p>
                                    </div>
                                </div>



                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email * </label>
                                        <input type="email" class="form-control form-control-line" [(ngModel)]="item.email" [attr.disabled]="isEditable?'':null"
                                            name="email" #emailVl="ngModel" required email pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                            minlength="5" maxlength="50"> </div>

                                    <div *ngIf="emailVl.invalid && (emailVl.dirty || emailVl.touched)" class="text-danger">
                                        <p *ngIf="emailVl.errors?.required">Email is required.</p>
                                        <p *ngIf="emailVl.errors?.pattern || emailVl.errors?.maxlength || emailVl.errors?.minlength">Invalid Email.</p>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ isEditable ? "Password" : "Password *"}} </label>
                                        <input id="password" type="password" class="form-control form-control-line" name="password" [(ngModel)]="item.password" #password="ngModel"
                                            minlength="6" [required]="!isEditable"> </div>

                                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                        <p *ngIf="password.errors.required">Password is required.</p>
                                        <p *ngIf="password.errors.minlength">Password must be minimum 6 characters.</p>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="input-field col s6">
                                        <label for="password">Confirm Password</label>
                                        <input id="confirm_password" type="password" class="form-control form-control-line" name="confirmPassword" [(ngModel)]="confirmPassword"
                                            #confirmPass="ngModel" [equalTo]="password">

                                    </div>
                                    <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="text-danger">
                                        <p *ngIf="confirmPass.errors.equalTo">Password doesn't match.</p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>User Type *</label>
                                    <input class="form-control" [(ngModel)]="item.role" name="role" [value]="role" [disabled]="true">
                                </div>


                            </div>


                            <div class="form-actions">

                                <a class="btn waves-effect waves-light btn-success" [ngClass]="{'disabled': !mainForm.valid}" form="client-form" (click)="save()">Submit</a>

                                <a *ngIf="isEditable" class="btn waves-effect waves-light btn-secondary" routerLink="/staff" form="main-form"> cancel</a>


                            </div>

                            <div class="clear">
                            </div>
                        </form>


                    </div>
                </div>

            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->

    </div>
</div>