<link href="assets/dist/css/pages/login-register-lock.css" rel="stylesheet">
<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">

      <div [ngBusy]="busy"></div>
      <div class="card-body">
        <form class="form-horizontal form-material" id="resetform" #resetPasswordForm="ngForm" (ngSubmit)="login()">
          <h3 class="box-title m-b-20">Reset Password</h3>
          <div class="form-group ">
            <input class="form-control" type="password" placeholder="Password" name="password" id="password" [(ngModel)]="item.password"
              #password="ngModel" required>

            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
              <p *ngIf="password.errors.required">Password is required.</p>
              <p *ngIf="password.errors.minlength">Password must be minimum 6 characters.</p>
            </div>
          </div>
          <div class="form-group">
            <input id="confirm_password" type="password" placeholder="confirm password" class="form-control " name="confirmPassword"
              [(ngModel)]="confirmPassword" #confirmPass="ngModel" [equalTo]="password">
            <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="text-danger">
              <p *ngIf="confirmPass.errors.equalTo">Password doesn't match.</p>
            </div>
          </div>
          <div class="form-group text-center">
            <div class="col-xs-12 p-b-20">
              <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit" [disabled]="!loginForm.valid">Log In</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>